# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=sidcord
POSTGRES_PASSWORD=sidcord_dev
POSTGRES_DB=sidcord

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ScyllaDB
SCYLLA_HOSTS=localhost:9042
SCYLLA_KEYSPACE=sidcord_messages

# JWT
JWT_SECRET=change_me_in_production_use_long_random_string
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=2592000

# Servisler
GATEWAY_PORT=4000
API_PORT=8080
VOICE_PORT=4443
WEB_PORT=3000

# Geliştirme
NODE_ENV=development
LOG_LEVEL=debug
